<div class="col-lg-10 mx-auto">
	<% @tourist_points.each do |tourist_point| %>
		<div class="card mt-3 mb-3" style="max-width: 740px;">
		  <div class="row g-0">
		    <div class="col-md-4">
		    	<%= image_tag tourist_point.image_url, class:"img-fluid rounded-start", style: "height: 100%;" %>
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		      	<%= link_to tourist_point_path(tourist_point), style: "text-decoration:none;" do %>
		        	<h5 class="card-title fw-bold"><%= tourist_point.name %></h5>
		        <% end %>	
		        <p class="card-text"><%= truncate(tourist_point.description.html_safe, length: 120 ) %></p>
		        <p class="card-text"><%#= tourist_point.city %></p>
		        <p class="card-text"><%#= tourist_point.state %></p>
		        <p class="card-text"><small class="text-muted">Posted on <%= time_ago_in_words(tourist_point.created_at) %> ago</small></p>
		      </div>
		    </div>
		  </div>
		</div>
	<% end %>
</div>