<div class="col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tourists Places</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Places', places_path, class:"nav-link active"  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Accommodations', accommodations_path, class:"nav-link active"  %>
          </li>
        </ul>
        <div>
          <% if @q.present? %>
            <%= search_form_for @q, url: search_results_path, method: :get, class: "d-flex" do |f| %>
              <div class="field">
                <%= f.text_field :name_or_city_or_state_cont, class: 'form-control me-2', placeholder: "Search by Place Name, City & State", autocomplete: "off" %>
              </div>
              <div class="actions">
                <%= f.button class: "btn btn-success mx-1" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>