<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-9">
      <% @places.each do |place| %>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-lg-4">
              <% if place.image_url.present? %>
                <%= image_tag place.image_url, class: "img-fluid rounded-start" %>
              <% end %> 
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h3 class="card-title"><%= place.place_title %></h3>
                <p class="card-text">Description or additional details about the place can go here.</p>
                <%= link_to "View Place", place_path(place), class: "btn btn-outline-primary mb-2 mx-2" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3">
      <ul class="list-group mt-4">
        <% @place_counts.each do |state, count| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to "#{state}", places_in_state_path(state), class: "text-decoration-none" %>
            <span class="badge bg-primary rounded-pill"><%= count %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
