<section class="main-slider tour-details-slider">
  <div class="swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events thm-swiper__slider swiper-backface-hidden">
    <div class="swiper-wrapper" style="transition-duration: 0ms;"></div>
    <div class="swiper-wrapper" style="transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-next" style="width: 1831px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
        <div class="image-layer" style="background-image: url('<%= @place.image_url %>');"></div>
        <div class="container">
          <div class="swiper-slide-inner">
            <%# <div class="tour-details-slider_icon">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#">
                <i class="fa fa-heart"></i>
              </a>
            </div> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tour-details">
  <div class="tour-details__top">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h2><%= @place.place_title %></h2>
        </div>
        <div class="col-xl-6 text-end">
          <p>Location</p>
          <h6><i class="fa-solid fa-location-dot"></i> <%= @place.city %></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="tour-details__bottom border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="tour-details__bottom-inner">
            <div class="tour-details__bottom-left">
              <ul class="list-unstyled tour-details__bottom-list">
                <li>
                  <div class="icon">
                    <span class="icon-clock"></span>
                  </div>
                  <div class="text mt-3">
                    <p><i class="fa-regular fa-clock"></i> Posted on <%= time_ago_in_words(@place.created_at) %> ago</p>
                  </div>
                </li>
                <%# <li>
                  <div class="icon">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="text">
                    <p>8.0 Superb</p>
                  </div>
                </li> %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tour-details-two">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <div class="tour-details-two__left">
          <div class="tour-details-two__overview">
            <h3 class="tour-details-two__title">Overview</h3>
            <p class="tour-details-two__overview-text"><%= @place.description.html_safe %></p>
          </div>
          <div class="tour-details-two__location">
            <h3 class="tour-details-two__title">Location</h3>
            <div>
              <% if @place.latitude.present? && @place.longitude.present? %>
                <iframe src="<%= @place.google_maps_embed_link(@place.latitude, @place.longitude, @place.name) %>" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <% else %>
                <p>No location information available.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <% if @place.images.present? %>
      <h3 class="tour-details-two__title">Gallery</h3>
      <div class="row">
        <% @place.images.each do |image| %>
          <div class="col-md-4 mb-4">
            <a href="<%= rails_blob_path(image) %>" class="place_images" data-turbolinks="false" data-mfp-title="<%= @place.name %>">
              <%= image_tag image, class: "img-fluid rounded gallery-image" %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>  
  </div>
</section>

<%= render 'places/more_places' %>
<%= render 'places/accommodation' %>


<script>
  $(document).ready(function() {
    $('.place_images').magnificPopup({
      type: 'image',
      gallery: {
        enabled: true
      },
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out'
      }
    });
  });
</script>



