<div class="container row">
  <div class="col-lg-8 mt-3">
    <% if @place.image_url.present? %>
      <figure>
        <%= image_tag @place.image_url, class: "img-fluid mb-1" %>
        <figcaption class="fs-5 fw-bold"><%= @place.place_title %></figcaption>
      </figure>
    <% end %>  
    <div class="mt-4">  
      <%= @place.description.html_safe %>
    </div>
  </div>
  <div class="col-lg-4 mt-4">
    <p class="lead fs-4"><%= @place.name %></p>
    <p class="lead"><i class="fa-solid fa-location-dot me-2"></i> <%= @place.city %>, <%= @place.state %></p>
  </div>
</div>